enable-pre-post-scripts=true
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
strictlyAllowBuiltDependencies=false
